.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #fff2009f;

  .logo-container{
    height: 100%;
    width: 70px;
    padding: 25px;

    .logo{
      
      transform: scale(1.3);
    }
    
  }

  

  .options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //background-color: pink;
    font-size: 1.2rem;

    .option{
      padding: 10px 15px;
    }
  }
}

.option:hover{
  text-decoration: underline;
  color: green;
}